# Miscellaneous
*.class
*.log
*.log.*
*.pyc
*.swp
*.trace
*.dmp
*.stackdump
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
/release_output/
/release_symbols/
.metadata
build_output.txt

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
tools

# VS Code settings (personal project)
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
/.dart_tool/
**/.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/build/
/android/app/build/
/android/app/debug
/android/app/profile
/android/app/release

# Local configuration and logs
*.bak
build_release.ps1

check.md
